body{
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  font-family: 'Manrope', sans-serif;
  background: hsl(210, 46%, 95%);
  justify-content: center;
}
#main{
  display: flex;
  width: 730px;
  height: 280px;
  align-self: center;
  border-radius: 15px;
  background: white;
}
#image{
  width:280px;
  background: url(drawers.jpg) no-repeat;
  background-size: cover;
  border-radius: 15px 0 0 15px;
}
#wrapper{
  width: 450px;
}
#content{
  width: 80%;
  margin: 8%;
}
h1{
  font-size: 20px;
  color: hsl(217, 19%, 35%);
  margin-bottom: 20px;
}
h4{
  font-size: 13px;
  color: hsl(214, 17%, 51%);
  font-weight: 500;
  margin-bottom: 20px;
}
.profile{
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
#profileimg{
  background: url(avatar-michelle.jpg) no-repeat;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-size: contain;
}
#profileinfo{
  display: flex;
}
#name{
  margin-left: 10px;
}
#share{
  background: hsl(210, 46%, 95%) url(icon-share.svg) no-repeat center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
#michelle{
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}
#date{
  color: hsl(212, 23%, 69%);
  font-weight: 500;
}
@media only screen and (max-width: 375px){
  body{
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  #main{
    flex-direction: column;
    width: 325px;
    height: 515px;
    overflow: hidden;
  }
  #image{
    border-radius: 0;
    width: 325px;
    height: 200px;
  }
  #wrapper{
    width: 325px;
    height: 315px;
  }
  h4{
    margin-bottom: 30px;
  }
}
