*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  background: url(pattern-bg.svg), url(pattern-curve.svg), url(pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: 70% 40%, left bottom, 25% 30%;
}
#main{
  display: flex;
  width: 1110px;
  height: 540px;
  align-self: center;
}
.slide{
  display: flex;
}
.text{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 625px;
  height: 275px;
  z-index: 10;
}
.info{
  display: flex;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
}
h3{
  font-weight: 300;
  font-size: 32px;
  color: hsl(240, 38%, 20%);
}
.name{
  color: hsl(240, 38%, 20%);
}
.job-title{
  color: hsl(240, 18%, 77%);
}
img{
  width: 540px;
  height: 540px;
  position: relative;
  left: -55px;
}
.btn{
  display: inline-block;
  align-self: center;
}
.prev, .next{
  z-index: 5;
  height: 55px;
  width: 55px;
  display: inline-block;
  position: relative;
  bottom: 27.5px;
  left: 110px;
}
.prev {
  background: white url(icon-prev.svg) no-repeat center;
  border-radius: 50% 0 0 50%;
}
.next {
  background: white url(icon-next.svg) no-repeat center;
  border-radius: 0 50% 50% 0;
}
@media only screen and (max-width: 375px){
  body{
    background-size: 60%;
  }
  #main{
    flex-direction: column-reverse;
    width: 310px;
    height: 535px;
  }
  .slide{
    flex-direction: column-reverse;
    justify-content: center;
  }
  .text{
    width: 100%;
    height: 185px;
  }
  h3{
    font-size: 16px;
  }
  .info{
    flex-direction: column;
    align-self: center;
    font-size: 12px;
  }
  img{
    width: 255px;
    height: 255px;
    left: 25px;
    bottom: 60px;
  }
  .prev, .next{
    height: 35px;
    width: 35px;
    bottom: 270px;
    left: 0;
  }
}
